<section class="gallery">
  <div class="container">
    <label for="recom-row" class="row">
      <h3 class="col-xs-8 col-md-4 div-name">Recommended Videos</h3>
      <h3 class="col-xs-0 col-md-7 view"><span>|</span></h3>
      <h3 class="col-xs-4 col-md-1 view-all"> <a (click)="videos('Recommended')"> View All </a> </h3>
    </label>
    <div id="recom-row">
      <div id="myCarousel" class="carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active row">
            <div class="col-xs-12 col-md-3" *ngFor="let video of videosShortList">
              <figure class="img-container">
                <span class="play-icon" (click)="playVideo(video.id)">
                  ▷
                </span>
                <div class="color-overlay">
                  <img src="../assets/{{ video.id }}.jfif" />
                </div>
              </figure>
              <div class="col-xs-12 col-md-12" align="center">
                {{ video.name }}
              </div>
            </div>
          </div>
          <div class="item row">
            <div class="col-xs-12 col-md-3" *ngFor="let video of videosShortList">
              <figure class="img-container">
                <span class="play-icon" (click)="playVideo(video.id)">
                  ▷
                </span>
                <div class="color-overlay">
                  <img src="../assets/{{ video.id }}.jfif" />
                </div>
              </figure>
              <div class="col-xs-12 col-md-12" align="center">
                {{ video.name }}
              </div>
            </div>
          </div>
          <div class="item row">
            <div class="col-xs-12 col-md-3" *ngFor="let video of videosShortList">
              <figure class="img-container">
                <span class="play-icon" (click)="playVideo(video.id)">
                  ▷
                </span>
                <div class="color-overlay">
                  <img src="../assets/{{ video.id }}.jfif" />
                </div>
              </figure>
              <div class="col-xs-12 col-md-12" align="center">
                {{ video.name }}
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control control-arrow" href="#myCarousel" (click)="videoListUpdate(-1)"
          data-slide="prev">
          <img src="../assets/left-arrow.svg" alt="left-arrow">
        </a>
        <a class="right carousel-control control-arrow" href="#myCarousel" (click)="videoListUpdate(1)"
          data-slide="next">
          <img src="../assets/right-arrow.svg" alt="right-arrow">
        </a>
      </div>
    </div>
  </div>
  <div class="container courses-container">
    <label for="pref-row" class="row">
      <h3 class="col-xs-8 col-md-4 div-name">Prefered Sector Videos</h3>
      <h3 class="col-xs-0 col-md-7 view"><span>|</span></h3>
      <h3 class="col-xs-4 col-md-1 view-all"> <a (click)="videos('Prefered Sector')"> View All </a> </h3>
    </label>
    <div id="pref-row" class="row">
      <div id="myCarousel" class="carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active row">
            <div class="col-xs-12 col-md-2" *ngFor="let video of courseShortList">
              <figure class="img-container course-container">
                <div class="col-xs-12 col-md-12 play-icon course-name" (click)="playVideo(video.id)" align="center">
                  {{ video.name }}
                  <br>
                  {{ video.number + ' Videos' }}
                </div>
                <div class="color-overlay">
                  <img src="../assets/{{ video.id }}.jfif" />
                </div>
              </figure>
            </div>
          </div>
          <div class="item row">
            <div class="col-xs-12 col-md-2" *ngFor="let video of courseShortList">
              <figure class="img-container course-container">
                <div class="col-xs-12 col-md-12 play-icon course-name" (click)="playVideo(video.id)" align="center">
                  {{ video.name }}
                </div>
                <div class="color-overlay">
                  <img src="../assets/{{ video.id }}.jfif" />
                </div>
              </figure>
            </div>
          </div>
          <div class="item row">
            <div class="col-xs-12 col-md-2" *ngFor="let video of courseShortList">
              <figure class="img-container course-container">
                <div class="col-xs-12 col-md-12 play-icon course-name" (click)="playVideo(video.id)" align="center">
                  {{ video.name }}
                </div>
                <div class="color-overlay">
                  <img src="../assets/{{ video.id }}.jfif" />
                </div>
              </figure>
            </div>
          </div>
        </div>
        <a class="left carousel-control control-arrow course-arrow" href="#myCarousel" data-slide="prev">
          <button class="course-slider-button left" (click)="courseListUpdate(-1)">
            <img src="../assets/left-arrow.svg" alt="left-arrow">
          </button>
        </a>
        <a class="right carousel-control control-arrow course-arrow" href="#myCarousel" data-slide="next">
          <button class="course-slider-button right" (click)="courseListUpdate(1)">
            <img src="../assets/right-arrow.svg" alt="right-arrow">
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
